.yr_share_button {
/*	float: left;    */
	white-space: nowrap; 
	display:inline;	
	vertical-align: middle;
/*	background: #fc3;
	border: 2px solid black; */
/*	padding: 0px 0px 2px 0px;    /* 337 250121 */
}
.yr_share_img {
/*    float: left; */
	display: inline-block !important; 
/*	display: inline; */
/*	vertical-align: middle;   /* before 337 250121 */  
/*    margin: 2px;  141118*/
	margin-right: 6px;    /*14 11 18 -2px, 271019-6px for v324*/
/*	padding: 0px 0px 5px 0px;   /* 337 250121 */
	margin-bottom: 1px;		/* 341 */
}
.yr_share_img2 {    /* for Like */
	display: inline-block !important; 
/*	vertical-align: super;     */   /* before 337 - 24 01 21*/
	/*	float: left;  */
	margin-right: 6px;   /* 31 10 19  */
/*	position: relative;    */    /* del 311019 */
/*	bottom: 4px;  */
}
.yr_nojsb {	
	margin-bottom: 6px;   /* before 337 =6px */
/*	text-decoration: none; */
/*	border:none;  */
}
/* 28 10 19 for wpautop */
.yr_deltag_p p, br {
	display:inline; 
	padding: 0px;
/*	margin: 0px !important;*/
/*	line-height: 0px !important; */
	border: 0px;
}
.yr_del_underline {   /* 30 10 19 */
	border: none !important;  
	text-decoration: none !important;
/*	background-image: none;  */
	box-shadow: none !important; 
}
/* 171216 */
.share-buttons li.bpsi {
	padding: 5px 0 5px 5px;		/* 5px 0 5px 5px; */
}
.share-buttons li:last-child {
/*	padding: 5px;	before 337 */
}
.share-buttons {   /* unvis-vis  for simple buttons */
	display: none;
	margin: 0px 0px 0px 0px;     /*15px 0px 15px 0px; -before 337 */
}
/*
171216
*/
.share-buttons.group {    /* for N buttons  */
/*	margin-top: 2px;	/* 2px 08.11.20   1px 337-250121*/
	margin-right: 0px;
	margin-left: 0px;	/* margin-left: 0px; inherit;auto;  margin-left: auto;-339*/
/*	margin-bottom: -10px;    /* 14 11 18 - inst.0 margin-bottom: -10px;  -10 08.11.20*/
							/* 24 01 21  margin-bottom: -5px; */	
/*	padding: 0px 0px 0px 0px;		/* 337 */				
/*	width: 500px;   */
/*	float: left; */
}

.bp-share-it-button-group { 	/* 08.11.20 js button */
	display: inline;    /* before 337 240121 display: inline-block; */
	margin-right: 5px;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;   /* 337  240121*/
}

#item-meta .bp-share-it-button-group.yrgeneric-button.active {
	
	margin-bottom: 0px; 
}
/* BP 1.6.1 div.generic-button a */
div.yrgeneric-button a
{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
/*	border:none;   /* 30 10 19 */
	color: #777;
	cursor: pointer;
	font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 4px 10px; 
	text-align: center;
	text-decoration: none;
	line-height: 14px;
	/* 13 11 18*/
/*	border:none; */
}
.share-buttons ul {		/* background */
	
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
/*	background: #F5F5F5;	/* 337  250121 */
	margin-right: 1px;
	margin-top: 10px;	/* 337 - between js and simple */
	margin-left: 1px;  
	margin-bottom: 0px;		/* 337 250121 */
}
.share-buttons-blog {
	display: none;
	width: 375px;
	padding: 10px 0px 10px 10px;
	margin: 0px 0 15px 0px;   
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.share-buttons-group {
	display: none;
	width: 375px;
	padding: 10px 0px 10px 10px;    /* before 337  10px 0px 10px 10px   */
	margin: 15px 0px 15px 0px;    /*margin: 15px 0 15px 0px;*/
	background: #F5F5F5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	clear: both;
}
/*
171216
*/
.bp-share-it-button-forum {
	margin: 15px 0 0;
	width: 100px;
}
.bp-share-it-button:hover, .bp-share-button-forum:hover {
	cursor: pointer;
}
/*
171216
*/
.share-buttons.active {
	visibility: visible; 

	
}
.bp-share-button-blog, .bp-share-button-group {
	float: right;
}
#forum-topic-form div.bp-share-it-button {
	margin-top: 5px;
}
/*
a.buddypress-share-button-bp-media {
	text-decoration: underline;
}*/
img.bp-share-image{
	width: 75px;
}